/* TODO : set Up varaibles */
:root { 
    --gray: rgba(129, 141, 146, 1);
    --background: rgba(244, 255, 253, 1);
    --black: rgba(15, 15, 15, 1);
    --darkgray: rgba(37, 38, 39, 1);
    --red: rgba(209, 70, 47, 1);
}

body {
    background-color: rgba(255, 255, 255, 1);
}

.results {
    max-width: 820px;
}

iframe, .results img {
    width: 100%;
}

h1, h2, h3, h4,h5, h6 {
    font-family: 'Prata', serif;
    color: var(--black) ;
}

a {
    color: var(--black) ;
}
.results a, a:hover {
    color: var(--gray) ;
}

h2 {
    font-size: 6rem;
    margin-bottom: 0;
}

a:hover, h2:hover {
 text-decoration: none;
 color: var(--gray) ;
}
    
p {
    max-width: 820px;
    padding: 0 1rem;
    margin-bottom: 2rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--black) ;  
}

#disqus_thread {
    max-width: 820px;
}

.article span {
    font-family: 'Prata', serif;
    display: block;
    font-style: italic;
    width:  50%;
    margin: 1.5rem auto;
    padding: 0 1rem;
    color: var(--black) ;
}

nav {
    margin-bottom: 2rem;
}

label {
    font-size: 1.2rem;
    color: var(--black) ;
}

textarea {
    font-family: 'Prata', serif;
    font-size: 1.2rem;

}

td {
    font-size: 3rem;
}

